
div.size{
    max-height: 300px;
    border: 1px solid #ccc;
}

table.tableh{
    font-size: 11px;
    margin-bottom: 10px;
    margin-top: 10px;
}
div.input:focus{
    border: 1px solid #000;
}
div.input:active{
    border: 1px solid #000;
}